<html>
  <head>
    <title>Créer un potin</title>
  </head>
  <body>
    <h1>Crée ton potin !</h1>
    <p>Balance ton potin via le formulaire ci-dessous, jeune freluquet ! </p>


    <form action='/gossips/new/' method='POST'>
      Saisis ici ton nom, petit margoulin:  <input type='text' name='gossip_author'/><br/>
      Balance ton potin, jeune coquin: <input type='text' name='gossip_content'/><br/>
      <input type='submit'/>
    </form>
  </body>
</html>