
<html>
  <head>
    <title>PAGE POTIN</title>
  </head>
  <body>
    <h2>Voici la page du potin n°  <%= params[:id] %> </h2>
   
    <p> <a href="/" </a>Lien pour revenir à la page des potins.</p>

  </body>
</html>